form {
    background-color:#FFD4F8;
    width: 70%;
            margin: 40px auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 8px;

            padding: 20px;
}

button{
    padding:10px;
    margin-top:after 10%;
    background-color: rgb(17, 255, 0);
    margin-left: 1500%;
    border-radius: 10%;
    border-color:rgb(17, 255, 0) ;
    justify-content: center;
}

body{
    background-color: #FFD4F8;
position: absolute;
text-align: center;
}

div{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}

h1{
    justify-content: center;
    align-items: center;
    align-content: center;  
    margin-left: 220%;
    size: 20px;


}

label{
    border-radius: 10px;
    justify-content: center;
    margin-left: 550%;

}



p{
    margin-top: 10px;
    border-radius: 10%;
    
}
input{
    border-radius: 10%;
    border-color: whitesmoke;
    justify-content: center;
    margin-left: 600%;
}

select{
    border-radius: 10%;
    border-color: whitesmoke;
    justify-content: center;
    margin-left: 600%;
}

.imagem img{
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-right: 10%;
}
.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-right: 10%;
    margin-inline-start: 100px;
}