@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: #ffd4f8;
}

.main-container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0px auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  flex-wrap: nowrap;
  padding: 1rem;
}

.nav-user-panel {
  margin-top: 50px;
}

.nav-user-panel ul {
  list-style-type: none;
}

.filtro-pedidos{
    align-self: flex-start;
}


.item-lista-pedidos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;

  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  transition: 500ms all;

  /* box-shadow: 5px 5px rgb(122, 112, 112) */
}

.item-lista-pedidos:hover {
  box-shadow: 5px 5px rgb(122, 112, 112);
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.nav-user-panel {
  /* margin-left: -100px; */
}

.numero-pedido,
.status-pedido,
.data-pedido,
.pagamento-pedido {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #1ed08c;
  font-size: 2rem;
}

.item-lista-pedidos div span:first-child {
  font-weight: bold;
}

img#teen-titans {
  height: 50%;
  width: 50%;
}
