@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;400;700&family=Inter&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  text-decoration: none;
  max-width: 100%;
}

.bg-dragon {
  background-image: url("file:///G:/RAKE/CursoDH/mrgeek/src/assets/img/dragon.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 300px;
}

.main-container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0px auto;
  min-height: 500px;
}

.boxed {
  max-width: 1280px;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  flex-wrap: nowrap;
  padding: 1rem;
  width: 80%;
  box-shadow: 10px black;
}

/* .nav-user-panel {
  margin-top: 50px;
}

.nav-user-panel::before {
  background-color: green;
  height: 20px;
}

.nav-user-panel ul {
  list-style-type: none;
} */

.navbar::before {
  content: "";
  background-color: #1ed08c;
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-brand {
  z-index: 9999;
}

.filtro-pedidos {
  align-self: flex-start;
}

.seletor-filtros {
  background-color: #1ed08c;
  border-radius: 50px;
  font-size: 0.8rem;
  padding: 10px;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.item-lista {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;

  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem auto;
  background-color: #fff;
  transition: 0.5s all;
}

.item-lista:hover {
  box-shadow: 5px 5px rgb(122, 112, 112);
}

.numero-pedido,
.status-pedido,
.data-pedido,
.pagamento-pedido {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #1ed08c;
  font-size: 2rem;
}

.item-lista div span:first-child {
  font-weight: bold;
}

img#teen-titans {
  height: 40%;
  width: 40%;
}

img#adventure-time {
  height: 80%;
  width: 80%;
}

.meus-dados {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  width: 100%;
}

.enderecos {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-content: center;
  margin: 0px 50px 10px auto;
}

.dados-pessoais {
  display: flex;
  width: 100%;
}

.dados-pessoais form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto 10px 50px;
  width: 100%;
  align-self: flex-start;
}

.dados-pessoais form > input,
.dados-pessoais form > select {
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 5px 5px rgb(122, 112, 112);
  padding: 10px;
  width: 75%;
}

.dados-pessoais form .botoes {
  display: flex;
  flex-direction: row;
  width: 75%;
  gap: 30px;
  align-content: space-between;
}

.btn-verde-animado {
  background-color: #1ed08c;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1rem;
  padding: 10px;
  width: 75%;
  transition: 0.3s all;
  margin-top: 10px;
}

.btn-verde-animado:hover {
  box-shadow: 5px 5px rgb(122, 112, 112);
  cursor: pointer;
}

.enderecos > input {
  align-self: center;
  width: 50%;
}

.descricao-favorito {
  width: 50%;
  align-self: center;
  text-align: justify;
}

.valor-favorito {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 20%;
}

.valor-favorito > span {
  font-size: 1.5rem;
}

.btn-verde {
  background-color: #1ed08c;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1rem;
  padding: 10px;
  width: 75%;
  margin-top: 10px;
}

.btn-verde:hover {
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login > .tela-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tela-login form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px auto;
  width: 100%;
  align-items: center;
}

.tela-login div.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 70%;
}

.tela-login form > input {
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 5px 5px rgb(122, 112, 112);
  padding: 10px;
  width: 80%;
}

.tela-login form > input:focus {
  border: 8px solid rgba(30, 208, 140, 40%);
}

#dragon {
  width: 25%;
  right: 100px;
  top: 0px;
}

footer {
  bottom: 0px;
}

/* INCLUSÃO CSS HOME */

div a img {
  width: 100%;
}

.card {
  border-radius: 20px;
}

.card-body {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.card-deck {
  padding-top: 10px;
  border-radius: 100px;
  border-radius: 20px;
}

.carrossel {
  padding-top: 10px;
  padding-bottom: 50px;
}

#preco {
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
}

.card-img-top {
  border-radius: 20px;
}

.row img {
  width: 200px;
  padding: 20px 20px;
}

.row {
  background-color: #ff00c8;
}

a {
  color: #f8f9fa;
  text-decoration: none;
  background-color: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #1ed08c;
  border-color: #1ed08c;
}

form {
  display: block;
  margin-top: 0em;
}

/* Custom colors */
.bg-pink {
  background-color: #ff00c8;
}

.bg-light-pink {
  background-color: #ffd4f8;
}

@media screen and (max-width: 992px) {

  .item-lista{
    /* flex-direction: column; */
    align-content: center;
    align-items: center;
  }

  .item-lista .lista-img{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .valor-favorito{
    width: 100%;
  }

  .descricao-favorito{
    width: 100%;
  }
  .descricao-favorito p{
    inline-size: 100%;
    overflow: hidden;
  }

  .botoes{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px){
  .numero-pedido,
  .status-pedido,
  .data-pedido,
  .pagamento-pedido {
    width: 100%;
  }
  
}