<!DOCTYPE html>
<html lang="pt-BR">
  <body class="bg-light-pink">
    <%- include("./partials/header") %>
    <main class="main-container">
      <section class="container">
        <h1>FAVORITOS</h1>

        <article class="item-lista">
          <div class="lista-img">
            <img src="../assets/img/Product.png" alt="Produto" />
          </div>
          <div class="descricao-favorito">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              blanditiis adipisci asperiores.
            </p>
          </div>
          <div class="valor-favorito">
            <span>R$9999,99</span>
            <button class="btn-verde">Ver produto</button>
          </div>
        </article>

        <article class="item-lista">
          <div class="lista-img">
            <img src="../assets/img/Product.png" alt="Produto" />
          </div>
          <div class="descricao-favorito">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              blanditiis adipisci asperiores.
            </p>
          </div>
          <div class="valor-favorito">
            <span>R$9999,99</span>
            <button class="btn-verde">Ver produto</button>
          </div>
        </article>

        <article class="item-lista">
          <div class="lista-img">
            <img src="../assets/img/Product.png" alt="Produto" />
          </div>
          <div class="descricao-favorito">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              blanditiis adipisci asperiores.
            </p>
          </div>
          <div class="valor-favorito">
            <span>R$9999,99</span>
            <button class="btn-verde">Ver produto</button>
          </div>
        </article>

        <article class="item-lista">
          <div class="lista-img">
            <img src="../assets/img/Product.png" alt="Produto" />
          </div>
          <div class="descricao-favorito">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              blanditiis adipisci asperiores.
            </p>
          </div>
          <div class="valor-favorito">
            <span>R$9999,99</span>
            <button class="btn-verde">Ver produto</button>
          </div>
        </article>

        <img
          id="adventure-time"
          src="../assets/img/adventure-time.svg"
          alt=""
        />
      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
