<!DOCTYPE html>
<html lang="pt-BR">
  <body class="bg-dragon bg-light-pink">
    <%- include("./partials/header") %>

    <main class="main-container">
      <section class="container login-page">
        <h1>LOGIN</h1>
        <section class="login">
          <section class="tela-login">
            <form action="#">
              <input type="email" name="email" id="" placeholder=" E-mail" />
              <input type="password" name="senha" placeholder=" Senha" />

              <div class="botoes">
                <input
                  class="btn-verde-animado"
                  type="button"
                  value="Cadastre-se"
                />
                <input
                  class="btn-verde-animado"
                  type="button"
                  value="Esqueci minha senha"
                />
                <input class="btn-verde-animado" type="button" value="Entrar" />
              </div>
            </form>
          </section>
        </section>
      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
