@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;400;700&family=Inter&display=swap");

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  flex-wrap: nowrap;
  width: 100%;
  box-shadow: 10px black;
  justify-items: center;
}

.main-container {
  display: flex;
  justify-content: center;

  max-width: 1280px;
  margin: 0px auto;
  width: 100%;

  padding-top: 14rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0px auto -25px auto;
  width: 100%;
}

.nav {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  width: 100%;
  height: 3rem;

  z-index: 1000;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
}

.nav a p {
  margin-right: 2rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;

  position: fixed;
  right: 0;
  top: 3rem;
  left: 0;

  z-index: 1000;
}

header .container {
  display: flex;
  margin: 0 auto;

  color: white;
  text-transform: uppercase;
}

header a {
  color: inherit;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}

.icons {
  margin-right: 3rem;
  margin-top: 1rem;
}

.ready,
.standards {
  margin-right: 2rem;
}

.logo img {
  display: flex;
  position: absolute;

  bottom: -1rem;

  cursor: pointer;
  height: 8rem;
  margin-left: -60rem;

  z-index: 999999;
}

/* main {
  margin: 15rem auto;
} */

footer {
  display: flex;
  width: 100%;
  background-color: #ff00c8;
  color: white;
  height: 35rem;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

.coluna-1 {
  font-weight: 1.2rem;
}

.footer-logo {
  width: 150px;
  height: 150px;
}

.footer-logo:hover {
  cursor: pointer;
}

footer ul li h2 {
  font-weight: 3rem;
}

.card-products {
  width: 30rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2rem;

  border-radius: 0.8rem;

  transition: 0.2s all;

  box-shadow: 0.5rem 0.5rem 0.1rem gray;
}

.card-products div {
  min-height: 125px;
  text-align: center;
}

main .card-products button {
  background-color: #ff00c8;
  color: white;
  font-weight: bold;

  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  margin-bottom: 0px;
}

.search-bar {
  border-radius: 50px;
  font-size: 2rem;
  /* padding: 10px; */
  width: 40rem;
}

.search-box {
  display: flex;
  min-width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.products h2 {
  color: white;
  text-transform: uppercase;
  font-size: 3.8rem;
  margin-top: 0.8rem;
}

.card-products p {
  margin-top: 1%;
  font-weight: bold;
}

.next-page {
  margin: 0 0 0 100rem;
}

/* --------------- HAMBURGER MENU --------------- */

/* --------------- CUSTOM COLORS --------------- */
.bg-pink {
  background-color: #ff00c8;
}

.bg-light-pink {
  background-color: #ffd4f8;
}

.bg-green {
  background-color: #1ed08c;
}

.bg-dark-green {
  background-color: #0db172;
}

/* --------------- ICONS --------------- */
.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 34px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: black;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
