.products-description{
    margin-bottom: 15px;
}
.products h3{
    margin-top: 50px;
    text-align: center;
    font-size: 2.55rem;
}
.products-img{
    height: 150px;
    width: 150px;
    align-self: center;
}

.products-container{
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    padding: 1.6rem 1.6rem 1.6rem 0;
}

.products {
    width: 100%;
    display: flex;
    
  
    justify-content: center;
  
    gap: 1.5rem;
  
    flex-wrap: wrap;
  }

  h1{
    margin-left: 25rem;
  }

.title {
    background-color: #0DB172;
    width: 18rem;
    height: 0.1rem;

    border-radius: 1.3rem;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 1rem 2rem 27rem;
    padding: 4rem;

}

.bloco{
    background: white;
    border-radius: 0.8rem;  
}

.bloco li{
    color: black;
    padding: 4rem;
    list-style: none;
}



