<footer class="bg-pink text-white py-4">
  <div class="container">
    <nav class="row">
      <a
        href="/"
        class="col-3 text-reset text-uppercase d-flex align-itens-center"
        ><img
          src="../public/img/MrGeek (2).png"
          alt="Logo MRGeek"
          class="footer-logo"
      /></a>

      <!--menu-->
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">INFORMAÇÕES DA EMPRESA</li>
        <li><a href="#" class="text-reset">Sobre MrGeek</a></li>
        <li><a href="#" class="text-reset">Endereço</a></li>
        <li><a href="#" class="text-reset">Responsabilidade local</a></li>
      </ul>
      <!--menu-->
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">AJUDA E SUPORTE</li>
        <li><a href="#" class="col-3text-reset">Politica de frete</a></li>
        <li><a href="#" class="text-reset">Devolução</a></li>
        <li><a href="#" class="text-reset">Como pedir</a></li>
        <li><a href="#" class="text-reset">Como rastrear</a></li>
        <li><a href="#" class="text-reset">Guia de tamanhos</a></li>
        <li><a href="#" class="text-reset">Contate-nos</a></li>
        <li><a href="#" class="text-reset">Metodo de pagamento</a></li>
      </ul>
      <!--Redes Sociais-->
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">REDES SOCIAIS</li>
        <li>
          <!--FB-->
          <a href="#" class="text-reset"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <!--Twitter-->
          <a href="#" class="text-reset"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <!--Instagram-->
          <a href="#" class="text-reset"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <!--Pinterest-->
          <a href="#" class="text-reset"
            ><i class="fa-brands fa-pinterest-p"></i
          ></a>
        </li>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Cadastre-se para receber notificações</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <button type="submit" class="btn btn-primary">Inscreva-se</button>
        </form>
      </ul>
    </nav>
  </div>
</footer>
