<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<header class="bg-pink">
  <section class="container">
    <div class="">
      <nav class="nav bg-dark-green">
        <a href=""><p>Suporte</p></a>
      </nav>
    </div>
    <div class="logo">
      <a href="/">
        <img src="../public/img/MrGeek (2).png" alt="" />
      </a>
    </div>

    <div class="nav-bar">
      <div class="search-box">
        <form action="">
          <input class="search-bar" type="text" />
        </form>
        <a class="icons" href="">
          <span class="material-icons-outlined"> search </span>
        </a>
      </div>
      <ul class="itens">
        <li class="ready">
          <a href="">Pronta-Entrega</a>
        </li>

        <li class="standards">
          <a href="/products">Standards</a>
        </li>

        <li class="icons">
          <a href="/favoritos">
            <span class="material-icons-outlined"> favorite </span>
          </a>
        </li>
        <li class="icons">
          <a href="/login">
            <span class="material-icons-outlined"> person </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>