  <link rel="stylesheet" href="global.css">
  <!--bot navbar-->
  <nav class="navbar navbar-expand-lg bg-pink">
    <div class="header-container">
      <a class="navbar-brand" href="/">
        <img src="../public/img/MrGeek (2).png" alt=""/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Alterna navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" col-12 collapse navbar-collapse" id="navbarTogglerDemo02">
        <form class="col-6 search-bar form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Pesquisar"
          />
          <button class="btn btn-outline-success my-2 my-sm-0 bg-green" type="submit">
            Pesquisar
          </button>
        </form>
        <ul class="col-6 navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(Página atual)</span></a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/products">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Desativado</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <!--bot navbar-->
</html>
