<nav class="navbar navbar-expand-lg " style="background-color: #1ed08c;">
    <div class="container-fluid">
      <a class="navbar-brand" style="width: 70px; height: 70;" href="/"><img src="/src/public/img/MrGeek (2).png" alt=""></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/admin/products">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>